.anchor-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url('');
    background-size: contain;
    transition: 0.5s ease-in-out background-image;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
}

.anchor-container > img.hidden {
    display: none;
}
