#interactive-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(#0000007a, transparent);
}

.interactive-mobile {
    filter: brightness(1.1) opacity(0.4) blur(1px) opacity(0.6);
}

.mobile-overlay {
    width: 100%;
    min-height: calc(100vh - 95px - 45px);
    top: 95px;
}

.mobile-overlay.mobile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.mobile-overlay.mobile::after {
    content: 'Interactive content best viewed on desktop';
    position: absolute;
    text-transform: uppercase;
    color: #d2030f;
    font-family: 'FeeeelsFuzzy';
    padding: 30px;
    font-size: 25px;
}